.player {
    bottom: 0px;
    left: 0px;
    position: absolute;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
}

.left-part {
    display: flex;
    gap: 10px;
}

.track-info-img {
    width: 70px;
    height: 70px;
}

.track-info-text {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.track-name {
    color: var(--text-color);
}

.track-author {
    color: var(--text-secondary-color);
}

.center-part {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.center-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.center-button {
    padding: 0px;
    background: none;
    border: none;
}

.play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
}

.play-pause img {
    width: 40px;
    height: 40px;
}

.play-pause:hover img {
    width: 43px;
    height: 43px;
}

.play-pause:active img {
    filter: brightness(85%);
}

.prev img,
.next img {
    width: 25px;
    height: 25px;
}

.prev img {
    transform: rotate(180deg);
}

.cycle {
    padding: 7px 14px;
    border-radius: 10px;
}

.cycle img {
    width: 27px;
    height: 25px;
}

.prev:hover img {
    content: url("/nextPrevIconHover.svg");
}

.next:hover img {
    content: url("/nextPrevIconHover.svg");
}

.cycle:hover img {
    content: url("/loopHover.svg");
}

.prev:active img,
.next:active img,
.cycle:active img {
    filter: brightness(85%);
}

.active-cycle {
    background-color: var(--primary-20-color);
}

.active-cycle img {
    content: url("/loopHover.svg");
}

.active-cycle:hover {
    filter: brightness(90%);
}

.timeline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.border-line {
    -webkit-appearance: none;
    appearance: none;

    width: 45vw;
    height: 6px;
    border-radius: 10px;
    cursor: pointer;
}

.border-line::-webkit-slider-runnable-track {
    border-radius: 10px;
}

.border-line::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    height: 0px;
    width: 0px;
    background-color: #fff;
    border-radius: 90%;
    border: none;
}

.border-line:hover::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    height: 15px !important;
    width: 15px !important;
    background-color: #fff;
    border-radius: 90%;
    border: none;
}

.current-position,
.track-len {
    color: var(--text-secondary-color);
}

.right-part {
    display: flex;
    align-items: center;
    gap: 10px;
}

.volume-button,
.open-track {
    border: none;
    background: none;
}

.volume-button img,
.open-track img {
    width: 30px;
    height: 30px;
}

.volume-button:hover img,
.open-track:hover img {
    filter: brightness(90%);
}

.volume-button:active img,
.open-track:active img {
    filter: brightness(80%);
}

.audio-lvl0 img {
    content: url("/audioLel0Icon.svg");
}

.audio-lvl1 img {
    content: url("/audioLel1Icon.svg");
}

.audio-lvl2 img {
    content: url("/audioLel2Icon.svg");
}

.audio-lvl3 img {
    content: url("/audioLel3Icon.svg");
}