.tag-popup {
    width: 260px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-popup);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--border-dark-color);
}

.header {
    text-wrap: nowrap;
    font-family: var(--font);
    color: var(--text-color);
    margin-bottom: 20px;
    font-size: 16px;
}

.body {
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 20px;
}

.body::-webkit-scrollbar {
    display: none;
}